
.navbar-header{
    text-align: center;
    font-size: 50px;
    background-color:black;
    color: white;
}

body{
    background-image: url('./images/sunny.jpg');
}

form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

.container {
    padding: 20px;
    background-image: 'Asset/images/backgroundimage',
}

